<div class="about-swiper">
<ul class="about-swiper-list">
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">HTML/CSS</a></li>
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">JavaScript</a></li>
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">React</a></li>
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">Node.js</a></li>
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">React Native</a></li>
    <li class="about-swiper-item"><a class="about-swiper-link" href="#">Soft skills</a></li>
</ul>
<button class="about-swiper-btn" type="button">
<svg class="about-swiper-img">
    <use href="../img/svg/icons.svg#icon-arrow-right"></use>
</svg>
</button>
</div>