<section class="covers section">
  <div class="container">
    <h2>Covers</h2>
    <div class="content">
      <div class="marquee">
        <!-- First row -->
        <ul class="marquee__inner">
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/first-screen-1.jpg     830w,
                ./img/desktop/first-screen-1@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/first-screen-1.jpg.jpg"
              alt="StarlightStudio"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-4.jpg     834w,
                ./img/desktop/rectangle-4@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-4.jpg "
              alt="a woman playing sports"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-5.jpg     830w,
                ./img/desktop/rectangle-5@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-5.jpg "
              alt="fresh harvest box"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-6.jpg     830w,
                ./img/desktop/rectangle-6@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-6.jpg "
              alt="cosmetics advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-7.jpg     830w,
                ./img/desktop/rectangle-7@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-7.jpg "
              alt="Hotel Mimino"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-8.jpg     830w,
                ./img/desktop/rectangle-8@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-8.jpg "
              alt="A woman in a Ukrainian shirt"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-9.jpg     830w,
                ./img/desktop/rectangle-9@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-9.jpg "
              alt="fruit basket"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-10.jpg     830w,
                ./img/desktop/rectangle-10@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-10.jpg "
              alt="woman in the gym"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-11.jpg     830w,
                ./img/desktop/rectangle-11@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-11.jpg "
              alt="e-wallet advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-12.jpg     834w,
                ./img/desktop/rectangle-12@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-12.jpg "
              alt="A girl learns English"
            />
          </li>
        </ul>

        <!-- Second row -->
        <ul class="marquee__inner">
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/first-screen-1.jpg     830w,
                ./img/desktop/first-screen-1@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/first-screen-1.jpg.jpg"
              alt="StarlightStudio"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-4.jpg     834w,
                ./img/desktop/rectangle-4@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-4.jpg "
              alt="a woman playing sports"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-5.jpg     830w,
                ./img/desktop/rectangle-5@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-5.jpg "
              alt="fresh harvest box"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-6.jpg     830w,
                ./img/desktop/rectangle-6@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-6.jpg "
              alt="cosmetics advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-7.jpg     830w,
                ./img/desktop/rectangle-7@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-7.jpg "
              alt="Hotel Mimino"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-8.jpg     830w,
                ./img/desktop/rectangle-8@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-8.jpg "
              alt="A woman in a Ukrainian shirt"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-9.jpg     830w,
                ./img/desktop/rectangle-9@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-9.jpg "
              alt="fruit basket"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-10.jpg     830w,
                ./img/desktop/rectangle-10@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-10.jpg "
              alt="woman in the gym"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-11.jpg     830w,
                ./img/desktop/rectangle-11@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-11.jpg "
              alt="e-wallet advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-12.jpg     834w,
                ./img/desktop/rectangle-12@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-12.jpg "
              alt="A girl learns English"
            />
          </li>
        </ul>

        <!-- third row -->
        <ul class="marquee__inner">
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/first-screen-1.jpg     830w,
                ./img/desktop/first-screen-1@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/first-screen-1.jpg.jpg"
              alt="StarlightStudio"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-4.jpg     834w,
                ./img/desktop/rectangle-4@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-4.jpg "
              alt="a woman playing sports"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-5.jpg     830w,
                ./img/desktop/rectangle-5@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-5.jpg "
              alt="fresh harvest box"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-6.jpg     830w,
                ./img/desktop/rectangle-6@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-6.jpg "
              alt="cosmetics advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-7.jpg     830w,
                ./img/desktop/rectangle-7@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-7.jpg "
              alt="Hotel Mimino"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-8.jpg     830w,
                ./img/desktop/rectangle-8@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-8.jpg "
              alt="A woman in a Ukrainian shirt"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-9.jpg     830w,
                ./img/desktop/rectangle-9@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-9.jpg "
              alt="fruit basket"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-10.jpg     830w,
                ./img/desktop/rectangle-10@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-10.jpg "
              alt="woman in the gym"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-11.jpg     830w,
                ./img/desktop/rectangle-11@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-11.jpg "
              alt="e-wallet advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-12.jpg     834w,
                ./img/desktop/rectangle-12@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-12.jpg "
              alt="A girl learns English"
            />
          </li>
        </ul>
        <!-- fourth row -->
        <ul class="marquee__inner">
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/first-screen-1.jpg     830w,
                ./img/desktop/first-screen-1@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/first-screen-1.jpg.jpg"
              alt="StarlightStudio"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-4.jpg     834w,
                ./img/desktop/rectangle-4@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-4.jpg "
              alt="a woman playing sports"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-5.jpg     830w,
                ./img/desktop/rectangle-5@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-5.jpg "
              alt="fresh harvest box"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-6.jpg     830w,
                ./img/desktop/rectangle-6@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-6.jpg "
              alt="cosmetics advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-7.jpg     830w,
                ./img/desktop/rectangle-7@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-7.jpg "
              alt="Hotel Mimino"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-8.jpg     830w,
                ./img/desktop/rectangle-8@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-8.jpg "
              alt="A woman in a Ukrainian shirt"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-9.jpg     830w,
                ./img/desktop/rectangle-9@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-9.jpg "
              alt="fruit basket"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-10.jpg     830w,
                ./img/desktop/rectangle-10@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-10.jpg "
              alt="woman in the gym"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-11.jpg     830w,
                ./img/desktop/rectangle-11@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-11.jpg "
              alt="e-wallet advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-12.jpg     834w,
                ./img/desktop/rectangle-12@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-12.jpg "
              alt="A girl learns English"
            />
          </li>
        </ul>
        <!-- fifth row -->
        <ul class="marquee__inner">
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/first-screen-1.jpg     830w,
                ./img/desktop/first-screen-1@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/first-screen-1.jpg.jpg"
              alt="StarlightStudio"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-4.jpg     834w,
                ./img/desktop/rectangle-4@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-4.jpg "
              alt="a woman playing sports"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-5.jpg     830w,
                ./img/desktop/rectangle-5@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-5.jpg "
              alt="fresh harvest box"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-6.jpg     830w,
                ./img/desktop/rectangle-6@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-6.jpg "
              alt="cosmetics advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-7.jpg     830w,
                ./img/desktop/rectangle-7@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-7.jpg "
              alt="Hotel Mimino"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-8.jpg     830w,
                ./img/desktop/rectangle-8@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-8.jpg "
              alt="A woman in a Ukrainian shirt"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-9.jpg     830w,
                ./img/desktop/rectangle-9@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-9.jpg "
              alt="fruit basket"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-10.jpg     830w,
                ./img/desktop/rectangle-10@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-10.jpg "
              alt="woman in the gym"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-11.jpg     830w,
                ./img/desktop/rectangle-11@2x.jpg 1660w
              "
              sizes=" (min-width: 320px) 830px "
              src="./img/desktop/rectangle-11.jpg "
              alt="e-wallet advertising"
            />
          </li>
          <li>
            <img
              class="marquee__line"
              srcset="
                ./img/desktop/rectangle-12.jpg     834w,
                ./img/desktop/rectangle-12@2x.jpg 1668w
              "
              sizes=" (min-width: 320px) 834px "
              src="./img/desktop/rectangle-12.jpg "
              alt="A girl learns English"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
