<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <nav class="hero-navigation">
      <ul class="hero-list">
        <li class="hero-item">
          <button class="hero-button" type="button">
            <a
              class="hero-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >IG</a
            >
          </button>
        </li>
        <li class="hero-item">
          <button class="hero-button" type="button">
            <a
              class="hero-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >FB</a
            >
          </button>
        </li>
        <li class="hero-item">
          <button class="hero-button" type="button">
            <a
              class="hero-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >YT</a
            >
          </button>
        </li>
        <li class="hero-item">
          <button class="hero-button" type="button">
            <a
              class="hero-link"
              href="https://github.com/YK9968/mom-i-and-it-js"
              target="_blank"
              >GH</a
            >
          </button>
        </li>
        <li class="hero-item">
          <button class="hero-button button-email" type="button">
            <a
              class="hero-link"
              href="mailto:lloydjefferson@gmail.com"
              target="_blank"
              >lloydjefferson@gmail.com</a
            >
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
