<section class="section hero">
  <div class="">
    <div class="container hero-bg">
      <h1 class="hero-title">
        Hello. <br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <nav class="hero-navigation">
        <ul class="hero-list">
          <li class="hero-item">
            <a
              class="hero-link ig"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >IG</a
            >
          </li>
          <li class="hero-item">
            <a
              class="hero-link fb"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >FB</a
            >
          </li>
          <li class="hero-item">
            <a
              class="hero-link yt"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >YT</a
            >
          </li>
          <li class="hero-item">
            <a
              class="hero-link gh"
              href="https://github.com/YK9968/mom-i-and-it-js"
              target="_blank"
              rel="noopener noreferrer"
              >GH</a
            >
          </li>
          <li class="hero-item">
            <a
              class="hero-link email"
              href="mailto:lloydjefferson@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
