<div class="mob-menu is-hidden" data-menu>
  <div>
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="svg-on-button" width="28" height="28">
        <use href="../img/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu-content">
    <ul class="mob-menu-list list">
      <li class="mob-menu-list-item">
        <a class="mob-menu-link link" href="#about">About me</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link link" href="#benefits">Benefits</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link link" href="#projects">Projects</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link link" href="#faq">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="mob-menu-order">
    <a class="mob-menu-order-link link" href="#work">Order the project</a>
  </div>
</div>
