<section class="section projects" id="projects">
  <div class="container">
    <h2 class="section-title">projects</h2>
    <div class="project-swiper">
      <ul class="project-swiper-list swiper-wrapper">
        <li class="swiper-slide">
          <div class="swiper-slide-conteiner">
            <div class="projects-conteiner">
              <ul class="projects-list">
                <li class="projects-item">
                  <p class="projects-item-content">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#node.js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="swiper-slide-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovaations
                </p>

                <a
                  class="projects-content-btn"
                  href="https://github.com/YK9968/mom-i-and-it-js"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-item-img">
              <img
                class="projects-img"
                srcset="
                  ./img/mobile/project-1-mobile.jpg     311w,
                  ./img/tablet/project-1-tablet.jpg     614w,
                  ./img/mobile/project-1-mobile@2x.jpg  622w,
                  ./img/tablet/project-1-tablet@2x.jpg 1228w
                "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./img/mobile/project-1-mobile.jpg"
                alt="form"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-slide-conteiner">
            <div class="projects-conteiner">
              <ul class="projects-list">
                <li class="projects-item">
                  <p class="projects-item-content">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#node.js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="swiper-slide-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovaations
                </p>
                <a
                  class="projects-content-btn"
                  href="https://github.com/YK9968/mom-i-and-it-js"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-item-img">
              <img
                class="projects-img"
                srcset="
                  ./img/mobile/project-2-mobile.jpg     311w,
                  ./img/tablet/project-2-tablet.jpg     614w,
                  ./img/mobile/project-2-mobile@2x.jpg  622w,
                  ./img/tablet/project-2-tablet@2x.jpg 1228w
                "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./img/mobile/project-1-mobile.jpg"
                alt="form"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-slide-conteiner">
            <div class="projects-conteiner">
              <ul class="projects-list">
                <li class="projects-item">
                  <p class="projects-item-content">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#node.js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-item-content">#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="swiper-slide-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovaations
                </p>

                <a
                  class="projects-content-btn"
                  href="https://github.com/YK9968/mom-i-and-it-js"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-item-img">
              <img
                class="projects-img"
                srcset="
                  ./img/mobile/project-3-mobile.jpg     311w,
                  ./img/tablet/project-3-tablet.jpg     614w,
                  ./img/mobile/project-3-mobile@2x.jpg  622w,
                  ./img/tablet/project-3-tablet@2x.jpg 1228w
                "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./img/mobile/project-1-mobile.jpg"
                alt="form"
              />
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-btn-wrapper">
        <button aria-label="preview  slide" class="swiper-btn project-btn-prev">
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="./img/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <button aria-label="next slide" class="swiper-btn project-btn-next">
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="./img/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
