<section class="section">
  <div class="container">
    <h2 class="section-title">reviews</h2>

    <div class="reviews-swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <p class="reviews-error hidden">Not Found</p>
    <div class="swiper-btn-wrapper reviews-btn-wrapper">
      <button
        aria-label="preview slide"
        class="swiper-btn reviews-btn-prev"
        type="button"
      >
        <svg class="swiper-btn-icon">
          <use href="./img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        aria-label="next slide"
        class="swiper-btn reviews-btn-next"
        type="button"
      >
        <svg class="swiper-btn-icon">
          <use href="./img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
