<div data-modal class="backdrop is-hidden">
  <div class="modal-positive">
    <button data-modal-close class="modal-close-btn" type="button">
      <svg
        class="modal_close_btn_icon"
        width="22"
        height="22"
        aria-label="modal close button"
      >
        <use href="./img/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-text">Thank you for your interest in cooperation!</h3>
    <p class="modal-comment">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>

<div data-modal class="backdrop-error is-hidden">
  <div class="modal-negative">
    <button data-modal-close class="modal-close-btn" type="button">
      <svg
        class="modal_close_btn_icon"
        width="22"
        height="22"
        aria-label="modal close button"
      >
        <use href="./img/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-text">Error sending your message</h3>
    <p class="modal-comment">
      Unfortunately, there was an error while sending your message. Please try
      again later.
    </p>
  </div>
</div>
