
<section class="worktogether">
<div class="container">
    <h2 class="worktogether-title">
        <span>
            <img class="worktogether-icon"
                src="./img/mobile/work-together-logo-mobile.jpg"
                alt="lloydjefferson"
                width="44"
                height="44"
            >
        </span>let's
        <span class="worktogether-span">work</span>
            together
    </h2>
    
    
    <form class="worktogether-form">
        <div class="worktogether-form-wrapper">
            <input class="worktogether-form-email"
                type="email"
                name="email"
                required
                placeholder="clients@gmail.com"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            >
            <p class="worktogether-form-check true">Succes !</p>
            <p class="worktogether-form-check false">Invalid email, try again !!!</p>
        </div>
        <textarea  class="worktogether-form-comments"
            name="user-comment"
            placeholder="comments"></textarea>
        <button class="worktogether-form-button"
            type="submit"
        >Send</button>
    </form>
    
    <div class="worktogether-address">
        <ul class="worktogether-address-list">
            <li class="worktogether-address-item">
                <a class="worktogether-address-link" 
                    href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </li>
            <li class="worktogether-address-item">
                <a class="worktogether-address-link" 
                    href="tel:+3801111111111">+380 11 1111 11 11</a>
            </li>
        </ul>
    </div>
</div>
</section>