.about-custom-functional {
  color: var(--button-color);
}
.about-custom-websites {
  color: rgba(250, 250, 250, 0.4);
}

.about-img {
  border-radius: 24px;
}

.about-item-action {
  display: flex;
  justify-content: space-between;
}

.about-main-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-main-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.about-list > .ac {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;
  margin-bottom: 20px;
  margin-top: 0;
}
.about-list > .ac .about-open-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-list > .ac .about-close-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-list > .ac .ac-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 9px;
  width: 36px;
  height: 36px;
}

.about-list > .ac .ac-trigger::after {
  content: '';
}

.about-list > .ac .ac-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding: 0;
}

.about-list > .ac .ac-panel .ac-text:first-child {
  margin-top: 12px;
}

.about-list > .ac .close-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding: 0;
}

.about-swiper-list > .swiper-slide-active {
  background-color: var(--button-color);
  border: none;
}
.about-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.container > .swiper {
  flex-direction: column;
  margin: 0 auto;
}
.container > .swiper-wrapper {
  display: flex;
}
.about-swiper > .about-swiper-list > .swiper-slide {
  color: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.about-btn-wrapper {
  display: block;
}
.about-slider-wrapper > button {
  stroke: var(--arrow);
  background-color: transparent;
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
}
.about-swiper-img {
  width: 28px;
  height: 28px;
  stroke: var(--arrow);
  border: none;
}
/* ==================================== /SWIPER ==================================== */
@media screen and (max-width: 767px) {
  .about-main-info {
    margin-bottom: 32px;
  }
  .about-list {
    margin-bottom: 32px;
  }
  .about-bg-card {
    padding: 32px;
    border-radius: 24px;
    height: 500px;
    background: var(--cards);
  }
}
@media screen and (min-width: 768px) {
  .about-bg-card {
    padding: 64px;
    height: 700px;
    border-radius: 24px;
    background: var(--cards);
  }
  .about-list > .ac {
    margin-bottom: 32px;
  }
  .about-main-title {
    font-size: 38px;
    line-height: 105%;
  }
  .about-item-action {
    margin-bottom: 8px;
  }
  .about-list > .ac .ac-trigger {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .about-swiper > .about-swiper-list > .swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
  .about-slider-wrapper > button {
    width: 40px;
    height: 40px;
    gap: 64;
    padding-right: 32px;
  }
  .about-swiper-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-list > .ac .about-open-panel {
    gap: 16px;
  }
  .about-main-info {
    margin-bottom: 64px;
  }
  .about-list {
    margin-bottom: 64px;
  }
  .about-text {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .about-list > .ac .ac-panel {
    margin-left: 696px;
    width: 612px;
  }
  .about-main-info {
    flex-direction: row;
    margin-bottom: 96px;
  }
  .about-list {
    margin-bottom: 96px;
  }
  .about-slider-wrapper > button {
    gap: 72px;
  }
}
