*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'InterTight';
  src: url(../fonts/InterTight-VariableFont_wght.ttf);
}

body {
  font-family: 'InterTight', sans-serif;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

.section-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

.disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke: #3b3b3b;
}

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1440px;
  }
}
