/* ======================= mobile ======================= */

.faq-column > .ac {
  background-color: transparent;
  padding: 20px 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-left: none;
  border-right: none;
  margin-top: 0;
}

.faq-item-container {
  padding: 20px 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-top-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 16px;
}

.faq-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.faq-column > .ac .ac-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 44px;
  padding: 10px;
  background-color: var(--background);
  border-radius: 50%;
  border: 1px solid rgb(250, 250, 250, 0.2);
}

.faq-column > .ac .ac-trigger::after {
  content: '';
}

.faq-arrow-img {
  rotate: 180deg;
}

.faq-column > .ac .ac-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--minor-text);
  padding: 0;
}

/* ======================= tablet ======================= */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .faq-item-container {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .faq-top-item {
    padding-bottom: 26px;
  }

  .faq-suptitle {
    padding-right: 48px;
  }
}

/* ======================= desctop ======================= */

@media screen and (min-width: 1440px) {
  .faq-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .faq-item-container {
    width: calc(50% - 0px);
  }

  /* nth-child */

  .faq-item-container:nth-child(1) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .faq-item-container:nth-child(5) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .faq-item-container:nth-child(3) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .faq-item-container:nth-child(4) {
    padding-left: 32px;
  }

  .faq-item-container:nth-child(6) {
    padding-left: 32px;
  }

  .faq-item-container:nth-child(2) {
    padding-left: 32px;
  }

  /* /nth-child */

  .faq-suptitle {
    padding-right: 48px;
  }
}
