.hero-section {
  padding-top: 0;
}

.hero-bg {
  position: relative;
  background-image: url(../img/mobile/hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 32px;
}

.hero-title {
  color: var(--main-text);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  padding-top: 281px;
  margin-bottom: 212px;
}

.hero-list {
  display: flex;
  gap: 4px;
}

.hero-item:not(:last-child) {
  background-color: transparent;
  color: var(--main-text);
  font-size: 14px;
  line-height: auto;
  border: 1px solid var(--minor-text);
  border-radius: 50%;
  max-width: 37px;
  max-height: 37px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-item:last-child {
  background-color: transparent;
  color: var(--main-text);
  font-size: 14px;
  line-height: auto;
  border: 1px solid var(--minor-text);
  border-radius: 20px;
  min-width: 178px;
  height: 37px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url(../img/tablet/hero_tablet.png);
  }

  .hero-title {
    font-size: 90px;
    padding-top: 300px;
    margin-bottom: 187px;
    min-width: 632px;
  }

  .hero-list {
    justify-content: end;
    gap: 8px;
  }

  .hero-item:not(:last-child) {
    font-size: 16px;
    max-width: 55px;
    max-height: 55px;
    padding: 18px 20px;
  }

  .hero-item:last-child {
    font-size: 16px;
    border-radius: 30px;
    min-width: 223px;
    height: 55px;
    padding: 18px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-bg {
    background-image: url(../img/desktop/hero_desktop.png);
  }

  .hero-title {
    padding-left: 162px;
    margin-bottom: 243px;
    min-width: 1084px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-bg {
    background-image: url(../img/mobile/hero_mobile@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-bg {
    background-image: url(../img/tablet/hero_tablet@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .hero-bg {
    background-image: url(../img/desktop/hero_desktop_desktop@2Ñ….png);
  }
}
