.reviews-swiper {
  overflow: hidden;
}

.reviews-list {
  display: flex;
  margin-bottom: 32px;
}

.reviews-item {
  padding: 32px 24px;
  width: 100%;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}

.reviews-item-img {
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviews-item-title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.reviews-item-discription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--minor-text);
}

.reviews-error {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-text);
}

.swiper-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.swiper-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  width: 68px;
  height: 68px;

  background-color: transparent;

  position: relative;

  stroke: #fafafa;
}

.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);

  stroke: rgba(250, 250, 250, 0.2);
}

.swiper-btn-icon {
  width: 32px;
  height: 32px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.btn-prev {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .swiper-btn {
    width: 52px;
    height: 52px;
  }
  .swiper-btn-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .reviews-item {
    width: calc((100% - 16px * 3) / 4);
  }
}
