.backdrop {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 343px;
  border-radius: 20px;
  background: var(--cards);
  padding: 64px 32px 64px 32px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.modal-text {
  font: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-text);
  margin-bottom: 16px;
  text-align: center;
}
.modal-comment {
  font: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--minor-text);
}

.modal_close_btn_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modal {
    width: 492px;
    height: 246px;
    padding: 64px;
  }
  .modal-comment {
    text-align: center;
  }
}
/* DESKTOP */
@media screen and (min-width: 1440px) {
  .modal {
    width: 492px;
    height: 246px;
    padding: 64px;
  }
  .modal-comment {
    text-align: center;
  }
  .modal-close-btn {
    cursor: pointer;
  }
}
