.worktogether {
  background-image: url(../img/mobile/worktogether-bg-mobil.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 728px 679px;
}

.worktogether-icon-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.worktogether-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.worktogether-icon {
  border-radius: 12px;
  width: 44px;
  height: 44px;
}

.worktogether-text-span {
  color: var(--button-color);
}

.worktogether-form {
  display: flex;
  flex-direction: column;
  margin-top: 63px;
}

.worktogether-form-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--minor-text);
  background-color: var(--background);
  padding-bottom: 20px;
  width: 343px;
  height: 44px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--minor-text);
}

.worktogether-form-email:hover,
.worktogether-form-email:focus {
  border-color: var(--main-text);
  color: var(--main-text);
  /* background: transparent;  */
}

.worktogether-form-check {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-top: 4px;
}

.true {
  color: #3cbc81;
}

.false {
  color: var(--button-color);
}

.worktogether-form-comments {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--minor-text);
  background-color: var(--background);
  margin-top: 16px;
  margin-bottom: 32px;
  padding-bottom: 20px;
  width: 343px;
  height: 44px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--minor-text);
}

.worktogether-form-comments:hover,
.worktogether-form-comments:focus {
  border-color: var(--main-text);
  color: var(--main-text);
}

.worktogether-form-button {
  width: 100px;
  height: 100px;
  background-color: var(--button-color);
  border: none;
  border-radius: 100%;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.worktogether-form-button:hover {
  background-color: var(--button-hover);
}

.worktogether-address-list {
  display: flex;
  gap: 4px;
  margin-top: 64px;
}

.worktogether-address-link {
  display: block;
  outline: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.worktogether-address-link:hover {
  outline: 1px solid var(--main-text);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .worktogether {
    background-image: url(../img/mobile/worktogether-bg-mobil@2x.png);
  }
}

/* ================================= tablet ================ */
@media screen and (min-width: 768px) {
  .worktogether {
    background-image: url(../img/tablet/worktogether-bg-tablet.png);
    /* background-size: 728px 679px; */
  }

  .worktogether-icon-wrapper {
    gap: 20px;
    margin-bottom: 7px;
  }

  .padding {
    padding-top: 3px;
  }

  .worktogether-title {
    font-size: 64px;
  }

  .worktogether-icon {
    width: 70px;
    height: 70px;
  }

  .worktogether-form {
    flex-direction: row;
    gap: 32px;
    margin-top: 18px;
  }

  .worktogether-form-email {
    width: 245px;
    margin-top: 46px;
  }

  .worktogether-form-comments {
    width: 245px;
    margin-top: 46px;
    margin-bottom: 0;
  }

  .worktogether-form-button {
    width: 150px;
    height: 150px;
  }

  .worktogether-address-list {
    margin-top: 18px;
    margin-bottom: 121px;
    gap: 8px;
  }

  .worktogether-address-link {
    padding: 18px 32px;
    font-size: 16px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .worktogether {
    background-image: url(../img/tablet/worktogether-bg-tablet@2x.png);
  }
}

/* ================================= desktop ==================== */

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 80px;
  }

  .worktogether {
    background-image: url(../img/desktop/worktogether-bg-desktop.png);
    /* background-size: 728px 679px; */
  }

  .worktogether {
    padding-left: 164px;
  }

  .worktogether-form-email {
    width: 390px;
  }

  .worktogether-form-comments {
    width: 390px;
    margin-right: 54px;
  }

  .worktogether-address-list {
    margin-bottom: 87px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .worktogether {
    background-image: url(../img/desktop/worktogether-bg-desktop@2x.png);
  }
}
